* {
  margin: 0;
}

.App {
  text-align: center;
}

.main-header {
  background-color: #222;
  height: 50px;
  padding: 40px;
  margin-bottom: 20px;
  color: white;
}

.film-title {
  font-weight: bold;
}

h2 {
  text-decoration: underline;
  margin: 30px;
}

.nav-btn-div {
  text-align: right;
}